@using SpeedLord.App
@{
    ViewBag.Title = "Index";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@if (@User.Identity.IsAuthenticated)
{

    <h2>Play the game</h2>
    
    
        
        <h1>
            here is the output
        </h1>
        <div class="output">
        
        </div>
        
        <form class="input">
            <input type="text" />
            <input type="submit"/>
        </form>
    <script type="text/javascript" src="~/Scripts/app/gamelogic.js"></script>
    
}
else
{
    <div class="lordMVC" id="loginPanel">
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_AjaxLogin")
        </section>

        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
    <div class="todoList" id="registerPanel">
        <h2>Sign up</h2>
        @*@Html.Partial("_Register")*@
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
}



<script type="text/javascript" src="~/Scripts/app/ajaxlogin.js"></script>
