@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
              Welcome to Lord MVC, a C#/Asp.Net MVC remake of the classic BBS game 
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        You can @Html.ActionLink("Register", "Register", "Account") and create a character
    </li>

    <li class="two">
        <h5>Play</h5>
        @Html.ActionLink("Play the Game", "index", "game")
    </li>

    <li class="three">
        <h5>Join the Project</h5>
        If you'd like to join the LordMVC project, contact the team
    </li>
</ol>

